.copyright {
  text-align: center;
  height: 40px;
}

.header {
  /* background-image: url('./paper.png'); */
  background-color: black;
  background-size: cover;
  font-family: 'Roboto';
  font-size: 2.2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;

}

.header-container {
  /* background: url('./paper.png') repeat center; */
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  width: 100%;
}

#clipped-title1 {
	background: url(./paper.png) no-repeat center center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body {
  box-sizing: border-box;
  height: auto;
}
@media (min-width: 0px) and (max-width: 605px){
  body {
    max-width: 465px;
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    background:#eeeeee;
    display: flex;
    flex-direction: column;
  }
  .main-container {
    display:flex;
    flex-direction: column;
  }

  .mobile-nav {
    height: 50px;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
  }
  .hidden-mobile {
    display: none;
  }
  .sidebar-container {
    display: none;
  }
  .main-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

  }

  .header-container {
    height: auto;
  }

  .card {
    margin-bottom: 20px;
  }
  .add-new-note {
    width: 90%;
    height: 60px;
    background-color: #00868b;
    border: 1px solid gray;
    color: black;
    font-weight: bolder;
    font-size: 1.6rem;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;

  }

  .add-new-note:hover {
    background-color: #40e0d0;
    color: blueviolet;


  }

  .link-style {
    text-decoration: none;
    color: whitesmoke;
    
  }

  .home-link-style {
    text-decoration: none;
    color: black;
    display:flex;
    height: 100px;
  }

  .home-link {
    display:flex;
    justify-content: center;
    margin: 20px;
    padding: 30px;
  }
  .link-create {
    color: black;
    text-decoration: none;
    vertical-align: middle;
  }

  .link-create:hover {
    color: blue;
  }

  .plus-sign {
    font-size: 3.4rem;
    margin: 20px;
    vertical-align: middle;
  }

 

  .create-link {
    vertical-align: middle;
    width: 80%;
  }
  .intro {
    display: none;
  }

  .login-wrapper {
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color:#262626;
    padding: 20px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items:center;
  }
  .input_container {
    width: 90%;
    color: whitesmoke;
    font-size: 20px;
    

  }
  .input_credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80px;
  }
  .input_box {
    width: 100%;
    height: 100%;
    font-size: 24px;
  }
  .button-submit {
    background-color: #00868b;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
  }

  .link-header {
    color: rgb(207, 222, 89);
    text-decoration-color: black;
  }

  .login_here {
    font-family: 'Homemade Apple';
    color: #dddddd;
    letter-spacing: 1px;
  }
  .register_login {
    font-size: 1.2rem;
    text-align: center;
  }
 

  .home-logo {
    font-size: 2rem;
    margin-bottom: -10px;
    font-family: "Homemade Apple";
    transform: rotate(-20deg);
    
  }
  .house-pic {
    width: 70px;
  }



  .create-header {
    font-family: "Raleway";
    font-size: 1.8rem;
    font-weight: bolder;
  }
  .note-body {
    height: 400px;
  }

  .note-title {
    height: 50px;
  }

  label {
    font-size: 1.4rem;
  }

  .new-note-wrapper {
    margin: 0px 0px 40px ;
    background-color:#262626;
    padding:10px;
    border-radius: 5px;
    color: whitesmoke;
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #ccc;
    }

/* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }
    .collection-of-notes-mobile {
      color: whitesmoke;
    }
    
    .indiv-note-mobile {
      background-color:#262626;
      padding: 10px;
      margin-bottom: 20px;
    }
}

@media (min-width: 606px) and (max-width: 979px) {
  body {
    max-width: 766px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
  }
  .intro {
    display: none;
  }
  .navigation {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .sidebar-container {
    display: none;
  }
  .main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
  }
  .collection-of-notes {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #00868b;
    display:flex;
    flex-wrap: wrap;
  }

  .header {
    background-color: black;
    font-family: 'Roboto';
    font-size: 2.2rem;
    width: 100%;
    height: 26%;
  
  }

  .link-style {
    color: whitesmoke;
    text-decoration: none;
  }
  .add-new-note {
    width: 90%;
    height: 60px;
    background-color: black;
    color: black;
    font-weight: bolder;
    font-size: 1.6rem;
    display:flex;
    justify-content: center;
    align-items: center;

  }

  .add-new-note:hover {
    background-color: #40e0d0;
    color: blueviolet;


  }
  .hidden-tablet {
    display:none;
  }

  .indiv-note {
    background-color: white;
    padding: 10px;
    margin: 20px;
    width: 40%;
    box-shadow: 5px 5px 5px black;

  }
  .please-sign-in {
    background-color: #dddddd;
    width: 100%;
  }
  .desktop-flex {
    display:flex;
    flex-direction: column;
  }



  .create-header {
    font-family: "Raleway";
    font-size: 1.8rem;
    font-weight: bolder;
  }
  .note-body {
    height: 400px;
  }

  .note-title {
    height: 50px;
  }

  label {
    font-size: 1.4rem;
    width: 200px;
  }

  .new-note-wrapper {
    margin: 0px 0px 40px ;
    background-color: #00868b;
    display:flex;
    flex-direction: column;
    padding: 30px;

  }
  .button-submit {
    background-color: #262626;
    color: whitesmoke;
    margin-left: 30px;
    padding: 10px;
    width: 30%;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
  }

  .input_box {
    font-size: 1.6rem;
  }
  .accordion {
    display: none;
  }

}

@media (min-width: 980px) and (max-width: 1200px) {
  body {
    max-width: 1200px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
  }

  .hidden-desktop {
    display: none;
  }
  .accordion {
    display: none;
  }
}





.sidebar-container {

}