body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Homemade Apple', cursive;
  background-image: url(./art-artist-black-and-white-265047.png);
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: cover;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 66px;
}

.subtitle {
  font-size: 42px;
  font-family: monospace;
}

.intro {
  font-size: 24px;
}
.main-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotate(-15deg);
  height: 80vh;
  width: 80%;
  margin-left: 15%;
}
.header-link {
  text-decoration: double underline;
  color: blue;
  font-family: 'Homemade Apple', cursive;
  transform: rotate(2.5deg);
  margin-bottom: -10px;
}
.main-note-container {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  width: 100%;
  line-height: 10px;
  margin-top: -50px;
  margin-left: 100px;
  transform:rotate(-5deg);
}

.note-indiv {
  width: 600px;
  height: 250px;
  line-height: 19px;
  padding-right:90px;
}

.house-pic {
  width:50px;
  height:auto;
  transform: rotate(-30deg);
  margin-top:150px;
  margin-left: 150px;
}
.create-link {
display:flex;
justify-content: flex-end;
transform: rotate(10deg);
margin-right:200px;
margin-bottom:250px;
font-size: 20px;
color:black;
text-decoration: underline;
}

.create-note-wrapper{
  width: 100%;
  height: 100vh;
  margin:185px;
  margin-left: 225px;

}
.input-title {
  width: 70%;
  margin-right: 40px;
  height:30px;
  display:flex;
  align-items: flex-end;
}
.label-title {
  margin-bottom: 20px;
  margin-right: 40px;
  width:100px;
  height: 30px;
}

.label-body {
  margin-right: 40px;
  margin-top: 20px;
  width:100px;
  height: 500px;
}
.input-body {
  width: 70%;
  height: 40vh;
}
.new-note-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
.register_credentials {
  height: 30px;
  width: 100%;
  margin: 10px;
  display:flex;
  align-self:space-evenly;
}

.input_credentials {
  height: 30px;
  width: 100%;
  margin: 10px;
  display:flex;
  align-self:space-evenly;
}

.input_box {
  height: 30px;
  width: 400px;
}

.register_box {
  height: 30px;
  width: 400px;
}

.register-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;

}

.login_register {
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 5px double gray;
  transform:rotate(-10deg);
  font-size: 1.8em;

}

.register_here {
  align-self: center;
  font-family: 'Homemade Apple';

}

.login_here {
  align-self: center;
  font-family: 'Homemade Apple';
}

label {
  margin-right: 25px;
  width: 300px;
}

.button-submit {
  align-self: center;
  cursor: pointer;
  margin: 30px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 5px;
  background-color: paleturquoise;
}

.register_login {
  font-family: monospace;
  font-size: .75em;
  align-self: center;
  display: flex;
}
